<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="C5 Zine: Made with ❤ at CarbonFive." />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@carbonfive" />
    <meta name="twitter:title" content="C5 Zine" />
    <meta name="twitter:description" content="C5 Zine: Made with ❤ at CarbonFive." />
    <meta name="twitter:image" content="<% image_path 'c5-social-logo-small.png' %>" />
    <meta name="twitter:image:width" content="60" />
    <meta name="twitter:image:height" content="60" />
    <meta name="twitter:image:alt" content="C5 Zine" />

    <link rel="icon" href="/favicon.ico" />
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "//use.typekit.net/pin1ule.css" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
