---
"title": "C5 Zine - Issue 1 - Social Distancing"
---

<%
asset_dir = data.issue1.asset_dir
page = data.issue1.pages[0]
%>

<button class="print-button" title="Print Me!" ><div class="print-button__icon"/></button>
<main class="zine zine--<%= data.issue1.number_of_sheets %>-sheeter">
  <header class="zine-page page-1">
    <%= image_tag( asset_dir + page.image, class: "full-img", alt: page.title ) %>
  </header>
  <% data.issue1.pages[1..-1].each_with_index do |page, index| %>
    <section class="zine-page page-<%= index + 2 %>">
      <%= image_tag( asset_dir + page.image, class: "full-img", alt: page.title ) %>
      <figcaption><%= page.author %></figcaption>
    </section>
  <% end  %>
  <footer class="zine-page zine-page--last page-8">
    <div class="footer-contents">
      Now taking submissions at <br><span class="hashtag">#my-forthcoming-zine</span>
    </div>
  </footer>
</main>

<script type="text/javascript">
 document.addEventListener("DOMContentLoaded", function() {
   document.querySelector('.print-button').addEventListener('click', function() { window.print(); } );
 });
</script>
